.secao{
    margin-left: 5%;
}

.secao ul{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
}

.livro {
    text-decoration: none;
    float: left;
    list-style: none;
}

.livro #img_livro {
    transition: all 0.3s ease-in-out;
}

.livro:hover #img_livro{
    width: 140px;
    height: 210px;
}

#painel {
    padding-top: 120px;
    width: 100%;
    height: auto;
    background-color: #B4441C;
    text-align:center; 
    padding-bottom: 10px;
}

#img_logo{
    width: 20%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#scroll{
    display:inline-flex;
}

.circulo {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#atual {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #502514;
}

h1{
    padding:20px;
    color: #502514;
}

.titulo_livro{
    font-weight: bold;
    margin: 2px;
    color: #502514;
    font-size:23px;
    width: 180px;
}

.autor{
    margin:0;
    color: #9F6A54;
}

.preco{
    font-weight: bold;
    margin: 2px;
    color: #502514;
    font-size:20px;
}


#img_livro{
    width: 120px;
    height: 180px;
    border-radius: 5% 15% 15% 5%;
}

/*
div li {
    margin: auto 20px auto 40px;
    text-decoration: none;
    float: left;
    list-style: none;
}
*/

#seta_esq{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #502514;
    margin: 80px -20px 0px -20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#esq_svg{
    width:20px;
}

#seta_dir{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #502514;
    margin: 80px -20px 0px -20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dir_svg{
    width:20px;
}

hr {
	padding: 0;
	width: 20%;
    border-top: 1px solid #B4441C;
}

.preco_taverna{
    display: flex;
    align-items: center;
}

.fa-beer{
    margin-right: 8px;
    color: #502514;
    font-size:20px;
}

li:hover{
    color: red;
}

#container {
    margin-bottom: 3em;
}